In [1]:
import multiprocessing as mp

In [2]:
from selenium import webdriver

In [3]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import numpy as np
import csv

In [4]:
import requests as req

from bs4 import BeautifulSoup as bs

In [5]:
import time   # para manejar tiempo

from selenium.webdriver.chrome.options import Options

from selenium.webdriver.common.by import By   # para buscar segun tag, id, class, etc...

from selenium.webdriver.support.ui import WebDriverWait   # es para esperar

from selenium.webdriver.support import expected_conditions as EC  # condiciones esperadas...

from selenium.webdriver import ActionChains as AC   # acciones encadenadas, rollo doble click

from selenium.webdriver.common.keys import Keys  # manejar teclas


import warnings
warnings.filterwarnings('ignore')

In [6]:
path = r'C:\Users\pabli\apuntes_de_clase\Projecto ETL\cause_of_deaths.csv'
data_cause = pd.read_csv(path)

In [7]:
data.Year.head()

NameError: name 'data' is not defined

In [ ]:
opciones=Options()

#opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
opciones.add_extension(r'C:\Users\pabli\apuntes_de_clase\Projecto ETL\5.3.0-Crx4Chrome.com.crx')       # adblocker
opciones.add_argument('--incognito')

In [8]:
from joblib import Parallel, delayed

In [ ]:
from webdriver_manager.chrome import ChromeDriverManager

In [ ]:
PATH=ChromeDriverManager().install()

In [ ]:
driver=webdriver.Chrome(PATH, options=opciones)

In [ ]:
url = "http://www.geoba.se/population.php?pc=world&type=28&year=2000&st=country&asde=&page=1"

In [ ]:
html=req.get(url).text
soup=bs(html, 'html.parser')

In [ ]:
rows = soup.find_all("tr",class_ = 'bb')

In [ ]:
len(rows)

In [ ]:
len(rows[0]("td"))

In [ ]:
driver=webdriver.Chrome(PATH, options=opciones)
driver.get(url)
time.sleep(2)
table_rows= driver.find_element(By.CSS_SELECTOR, '#wrap > div.container-fluid.container-custom > div.container > div:nth-child(2) > div.col-md-7 > div.table-responsive > table > tbody').find_elements(By.TAG_NAME,"tr")

In [9]:
lst_url = []
for e in range(2000,2010):
    for i in range(1,4):
        lst_url.append(f"http://www.geoba.se/population.php?pc=world&type=28&year={str(e)}&st=country&asde=&page={str(i)}")

In [10]:
lst_url2 = []
for e in range(2010,2020):
    for i in range(1,4):
        lst_url.append(f"http://www.geoba.se/population.php?pc=world&type=28&year={str(e)}&st=country&asde=&page={str(i)}")

In [ ]:
type(int(len(lst_url)/2))

In [ ]:
from selenium.webdriver.support.wait import WebDriverWait

In [11]:
%%time
def extraer(url):
    try:
        html=req.get(url).text
        soup=bs(html, 'html.parser')
        lst = []
        rows = soup.find_all("tr",class_ = 'bb')
        time.sleep(2)
        for i in range(len(rows)):
            data= rows[i]("td")
            lst1 = []
            for j in range(4):
                time.sleep(1)
                
                lst1.append(data[j].text)
            lst.append(lst1)
        
        return pd.DataFrame(lst, columns=["rank","country","population","year"])
    except:
        print(url)

CPU times: total: 0 ns
Wall time: 0 ns

In [12]:
mp.cpu_count()

8

In [ ]:
html=req.get(url).text
soup=bs(html, 'html.parser')
lst = []
rows = soup.find_all("tr",class_ = 'bb')

In [13]:
from tqdm.notebook import tqdm

In [14]:
lst_df=Parallel(n_jobs=7, verbose=True)(delayed(extraer)(url) for url in tqdm(lst_url))

  0%|          | 0/60 [00:00<?, ?it/s]

[Parallel(n_jobs=7)]: Using backend LokyBackend with 7 concurrent workers.
[Parallel(n_jobs=7)]: Done  36 tasks      | elapsed: 29.1min
[Parallel(n_jobs=7)]: Done  60 out of  60 | elapsed: 46.6min finished

In [ ]:
lst_df2=Parallel(n_jobs=7, verbose=True)(delayed(extraer)(url) for url in tqdm(lst_url2))

In [ ]:
lst

In [29]:
len(lst_df)

60

In [ ]:
lst_df[0]

In [36]:
lst_df[32]

    rank                   country   population  year
0    20.                  Thailand   66,336,256  2010
1   177.               The Bahamas      310,426  2010
2   148.                The Gambia    1,755,456  2010
3   100.                      Togo    6,587,239  2010
4   192.                     Tonga      105,632  2010
5   156.       Trinidad and Tobago    1,228,691  2010
6    78.                   Tunisia   10,525,041  2010
7    17.                    Turkey   77,804,120  2010
8   116.              Turkmenistan    4,940,916  2010
9   211.  Turks and Caicos Islands       43,212  2010
10  223.                    Tuvalu       10,472  2010
11  189.       U.S. Virgin Islands      109,750  2010
12   37.                    Uganda   33,398,682  2010
13   28.                   Ukraine   45,415,596  2010
14  115.      United Arab Emirates    4,975,593  2010
15   22.            United Kingdom   62,348,448  2010
16    3.  United States of America  308,282,048  2010
17  132.                   Uruguay    3,301,076  2010
18   44.                Uzbekistan   27,865,738  2010
19  182.                   Vanuatu      221,552  2010
20   45.                 Venezuela   27,223,228  2010
21   13.                   Vietnam   89,571,128  2010
22  220.         Wallis and Futuna       15,343  2010
23  140.                 West Bank    2,514,845  2010
24  172.            Western Sahara      491,519  2010
25   49.                     Yemen   23,495,360  2010
26   70.                    Zambia   13,460,305  2010
27   72.                  Zimbabwe   11,651,858  2010

In [39]:
f = [lst_df[0],lst_df[1],lst_df[2]]

In [99]:
g = [lst_df[57],lst_df[58],lst_df[59]]

In [45]:
lsta2 = pd.concat(g, ignore_index= True)

In [52]:
lsta3 = pd.concat(g, ignore_index= True)

In [55]:
lsta4 = pd.concat(g, ignore_index= True)

In [58]:
lsta5 = pd.concat(g, ignore_index= True)

In [60]:
lsta6 = pd.concat(g, ignore_index= True)

In [64]:
lsta7 = pd.concat(g, ignore_index= True)

In [67]:
lsta8 = pd.concat(g, ignore_index= True)

In [69]:
lsta9 = pd.concat(g, ignore_index= True)

In [72]:
lsta10 = pd.concat(g, ignore_index= True)

In [74]:
lsta11 = pd.concat(g, ignore_index= True)

In [78]:
lsta12 = pd.concat(g, ignore_index= True)

In [80]:
lsta13 = pd.concat(g, ignore_index= True)

In [82]:
lsta14 = pd.concat(g, ignore_index= True)

In [87]:
lsta15 = pd.concat(g, ignore_index= True)

In [89]:
lsta16 = pd.concat(g, ignore_index= True)

In [93]:
lsta17 = pd.concat(g, ignore_index= True)

In [96]:
lsta18 = pd.concat(g, ignore_index= True)

In [98]:
lsta19 = pd.concat(g, ignore_index= True)

In [100]:
lsta20 = pd.concat(g, ignore_index= True)

In [184]:
lista_all= [lsta1,lsta2,lsta3,lsta4,lsta5,lsta6,lsta7,lsta8,lsta9,lsta10,lsta11,lsta12,lsta13,lsta14,lsta15,lsta16,lsta17,lsta18,lsta19,lsta20]

In [115]:
lista_all[0].iloc[0][3]

'2000'

In [137]:
lista_all[17].population[0].replace(",","")
lista_all[0].population[0].replace(",","")

'22461348'

In [190]:
for j in range(len(lista_all[18])):
    lista_all[17].population[j]= lista_all[17].population[j].replace(",","")

In [249]:
def integr(x):
    
        
    for i in range(len(x)):
        try:
    
        
        
            
            x[i].rank = x[i].rank.replace(".","")
            x[i]= x[i].astype({'population':'int64','year':'int32','rank':'int32'})
        
        except:
            return print(x[i])

In [202]:
def integ(x):
    try:
        
        for j in range(len(x)):
        
        
            x.population[j] = int(x.population[j])
            x.year[j] = int(x.year[j])
            
    except:
        print("error")

In [250]:
integr(lista_all)

     rank         country  population  year
0     46.     Afghanistan    22461348  2000
1    130.         Albania     3158352  2000
2     36.         Algeria    30429228  2000
3    205.  American Samoa       57771  2000
4    202.         Andorra       65099  2000
..    ...             ...         ...   ...
223  142.       West Bank     1979647  2000
224  173.  Western Sahara      336295  2000
225   54.           Yemen    17407262  2000
226   73.          Zambia    10345174  2000
227   65.        Zimbabwe    11820025  2000

[228 rows x 4 columns]

In [206]:
lsta1.population[1]

3158352

In [224]:
lista_all[17]= lista_all[17].astype({'population':'int64','year':'int32'})

In [230]:
lista_all[14].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        228 non-null    object
 1   country     228 non-null    object
 2   population  228 non-null    int64
 3   year        228 non-null    int32
dtypes: int32(1), int64(1), object(2)
memory usage: 6.4+ KB

In [ ]:
lista_all[i].population[j] = int(lista_all[i].population[j].replace(",",""))
        lista_all[i].year[j] = int(lista_all[i].year[j])

In [248]:
lista_all[19].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        228 non-null    object
 1   country     228 non-null    object
 2   population  228 non-null    int64
 3   year        228 non-null    int32
dtypes: int32(1), int64(1), object(2)
memory usage: 6.4+ KB

In [241]:
lsta18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        228 non-null    object
 1   country     228 non-null    object
 2   population  228 non-null    object
 3   year        228 non-null    object
dtypes: object(4)
memory usage: 7.2+ KB

In [252]:
for i in range(len(lista_all)):
    lista_all[i].to_csv(f'C:\\Users\\pabli\\apuntes_de_clase\\Proyecto-ETL\data\\lsta{i}.csv')